$grad1: #7f7fd5;
$grad2: #86a8e7;
$grad3: #91eae4;
$sun1: rgb(221, 223, 91);
$sun2: rgb(223, 197, 91);
$error: #900000;
$loader: #444;

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, $grad1, $grad2, $grad3);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande',
    sans-serif;
}

.weather {
  border-radius: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: relative;
  z-index: 1;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -5px; /* !importanté */
    border-radius: inherit; /* !importanté */
    background: linear-gradient(to right, $sun1, $sun2);
    box-shadow: 0 0 50px 5px $sun1;
  }

  .error {
    font-size: 0.8em;
    color: $error;
  }

  .loader {
    padding: 111px 19px;
  }

  .content {
    display: none;
    min-width: 200px;
    padding: 20px;
    text-align: center;
  }

  .city {
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  .temp {
    font-size: 3em;
    margin-bottom: 5px;
  }

  .toggle {
    font-size: 0.8em;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
  }
}

// LOADER
.spinner {
  /* Spinner size and color */
  width: 2rem;
  height: 2rem;
  border-top-color: $loader;
  border-left-color: $loader;

  /* Additional spinner styles */
  animation: spinner 1s linear infinite;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-style: solid;
  border-width: 3px;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}

/* Animation styles */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// CLOUDS

#clouds {
  position: absolute;
  top: 200px;
  left: 0;
}

.cloud {
  width: 200px;
  height: 60px;
  background: #fff;
  border-radius: 300px;
  position: relative;

  &:before,
  &:after {
    content: '';
    position: absolute;
    background: #fff;
    width: 100px;
    height: 80px;
    position: absolute;
    top: -15px;
    left: 10px;
    border-radius: 100px;
    transform: rotate(30deg);
  }

  &:after {
    width: 120px;
    height: 120px;
    top: -55px;
    left: auto;
    right: 15px;
  }
}

.x1 {
  animation: moveclouds 30s linear infinite;
  opacity: 0.7;
}

.x2 {
  left: 200px;
  transform: scale(0.6);
  opacity: 0.3;
  animation: moveclouds 50s linear infinite;
  opacity: 0.4;
}

.x3 {
  left: -250px;
  top: -200px;
  transform: scale(0.8);
  opacity: 0.4;
  animation: moveclouds 60s linear infinite;
}

.x4 {
  left: 470px;
  top: -250px;
  transform: scale(0.75);
  opacity: 0.3;
  animation: moveclouds 36s linear infinite;
}

.x5 {
  left: -150px;
  top: -150px;
  transform: scale(0.8);
  opacity: 0.4;
  animation: moveclouds 40s linear infinite;
}

@keyframes moveclouds {
  0% {
    margin-left: 1000px;
  }
  100% {
    margin-left: -1000px;
  }
}
